.sidebar{
    width: 340px;
    background: var(--neutral-07, #1A1D1F);
    padding: 16px 24px 24px 24px;
    color: #fff;
    height: 1793px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar_links li{
    
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.sidebar_links li a{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px;
    color: #6F767E;
    border-radius: 12px;
}

.sidebar_links li a:focus{
    background: var(--neutral-06, #272B30);
    color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.11) inset, 0px -2px 1px 0px rgba(0, 0, 0, 0.40) inset;
}

.sidebar_end{
    color: #6F767E;
    width: 292px;
}

.sidebar_end > div:nth-child(1) span{
    font-size: 15px;
    font-weight: 600;
    width: 24px;
    background-color: #cabdff;
    color: #1A1D1F;
    border-radius: 6px; 
    display: flex;
    justify-content: center;
}

.sidebar_end label{
    margin-top: 16px;
    border-radius: 40px;
background: var(--neutral-08, #111315);
width: 100%;
display: flex;
padding: 4px;
justify-content: space-between;
}

.sidebar_end label span{
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    padding: 4px 8px;
    flex: 1 0 0;
}
.sidebar_end label .active{
    color: #fff;
    border-radius: 32px;

background: var(--neutral-06, #272B30);
box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.25), 0px 2px 1px 0px rgba(255, 255, 255, 0.06) inset, 0px -1px 1px 0px rgba(0, 0, 0, 0.49) inset;
}